.container{
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 2rem;
}

.navbar{
	padding: 1rem 0px;
}

footer{
	padding-bottom: 1rem;
}

footer p{
	margin: 0;
	font-size: 80%;
}

@media screen and (min-width: 960px){
	.container {
    	max-width: 860px;
	}
}