html, body{
	font-size: 14px;
}

.container{
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 2rem;
}

.navbar{
	padding: 1rem 0px;
}

footer{
	padding-bottom: 1rem;
}

footer p{
	margin: 0;
	font-size: 80%;
}

.container{
	max-width: 100%;
}

@media screen and (min-width: 992px){
	.container {
    	max-width: 860px;
	}
}

@media screen and (max-width: 790px){
	.time, .room {
    	font-size: 0.8em;
	}

	.container{
		padding: 15px 0;
	}

	.navbar{
		padding: 0 15px;
	}

	.table th, .table td{
		padding: .25rem;
	}
}

@media screen and (max-width: 600px){

	.navbar, .form-inline{
		flex-direction: column;
	}

	.form-inline .btn{
		margin-top: .5rem;
	}

}
